<div class="row">
    <div class="container">
        <div class="container">
            <img src="https://s3.amazonaws.com/rocketfueltech/About_us.gif"/>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="row">
       
        <div class="container col-md-3">
            <h3 class="abpg">About our Studio</h3>
            <p class="well">
                 
                Steele Game Studios is an independent video game development studio based out of Fresno California. 
                Formed by former game developer Bobby Steele and a group of recent college grads our goal is to create compelling and entertaining video games. 
                We strive to create unique and compelling game content for any and all markets but have chosen to focus, initially, on the growing digital and mobile market places.
            </p>
        </div>
        
        <div class="container col-md-6">
            <br/>
            <img src="https://s3.amazonaws.com/rocketfueltech/firstDayPhoto.jpg" class="aboutImage"/>
        </div>
        
        <div class="container col-md-3">
            <h3 class="abpg">
                Bobby Steele
            </h3>
            <p class="well">
                
                Bobby Steele is a graduate of Fresno State University with a Bachelor’s Degree in Computer Science, 
                with foci in Project Management, Networking, and Graphics. He also has a master’s degree in Game Production and Management from the University of Advancing Technology. 
                He has been a manager of successful titles for nearly 6 years, with such titles as High Heat Major League Baseball 2004, Terminator 3: The Redemption, and 
                Monster Madness: Battle for Suburbia all on his resume. In addition the 6 years of managing titles, Bobby has worked as a game designer for 4 different titles, 
                including the most recent City Builder game for Wii.
            </p>
        </div>
    
    
</div>