<div class="row>">
    <div class="container">
        <div class="container jumbotron text-center">
            <h1>Combine Design</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="container">
            <p class="well">
                The main purpose of this program is to allow you to merge multiple designs
together and save as one file. The program is useful for you if you are
wanting to- <br/>
-Combine letters from a digitized font to create and save a name
<br/>
-Create a saying using letters from a digitized font
<br/>
-Combine small fills to decorate around a word or design
<br/>
-Combine individual small applique letters to spell a word
<br/>
-Add a name to the bottom of a design with a digitized font
            </p>
        </div>
    </div>
</div>

<div class="row">
     <div class="comtainer col-md-3 col-md-offset-1">
        <p class="well">
            Please join the Combine Design facebook group so you will be alerted of
            updates and feel free to post comments there. Good or bad, we want to
            hear from you! <a href="https://www.facebook.com/groups/666134266753486/">https://www.facebook.com/groups/666134266753486/</a>
        </p>
    </div>
    <div class="container col-md-4">
        <ul class="slides">
          <input type="radio" name="radio-btn" id="img-1" checked />
          <li class="slide-container">
            <div class="slide">
              <img src="https://s3.amazonaws.com/rocketfueltech/combine5.PNG"/>
            </div>
            <div class="nav">
              <label for="img-5" class="prev">&#x2039;</label>
              <label for="img-2" class="next">&#x203a;</label>
            </div>
          </li>
        
          <input type="radio" name="radio-btn" id="img-2" />
          <li class="slide-container">
            <div class="slide">
              <img src="https://s3.amazonaws.com/rocketfueltech/combine1.PNG"/>
            </div>
            <div class="nav">
              <label for="img-1" class="prev">&#x2039;</label>
              <label for="img-3" class="next">&#x203a;</label>
            </div>
          </li>
        
          <input type="radio" name="radio-btn" id="img-3" />
          <li class="slide-container">
            <div class="slide">
              <img src="https://s3.amazonaws.com/rocketfueltech/combine2.PNG"/>
            </div>
            <div class="nav">
              <label for="img-2" class="prev">&#x2039;</label>
              <label for="img-4" class="next">&#x203a;</label>
            </div>
          </li>
        
          <input type="radio" name="radio-btn" id="img-4" />
          <li class="slide-container">
            <div class="slide">
              <img src="https://s3.amazonaws.com/rocketfueltech/combine3.PNG"/>
            </div>
            <div class="nav">
              <label for="img-3" class="prev">&#x2039;</label>
              <label for="img-5" class="next">&#x203a;</label>
            </div>
          </li>
          
          <input type="radio" name="radio-btn" id="img-5" />
          <li class="slide-container">
            <div class="slide">
              <img src="https://s3.amazonaws.com/rocketfueltech/combine4.PNG"/>
            </div>
            <div class="nav">
              <label for="img-4" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
          </li>
        
          <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            <label for="img-5" class="nav-dot" id="img-dot-5"></label>
          </li>
        </ul>
    </div> 
</div>