<div class="row">
  <div class="container">
    <div class="container text-center">
        <h1 class="rft">Rocket Fuel Technologies</h1>
    </div>
  </div>
</div>

<body>
  <div class="row">
    <div class="container">
      <div class="container">
        
      </div>
    </div>
  </div>
  
</body>