<div class="row">
    <div class="container text-center">
        <img src="https://s3.amazonaws.com/rocketfueltech/doublepin.gif">
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="container well">
            <p>Double Pinochle is a single player game with the best Artificial Intelligence (AI) in the market. Players can make meld bids and their automated partners will understand what they are. Players can place an Ace on their partner’s Ace, and the AI will know what to do. This is the Pinochle game you’ve been looking for! Don’t know how to play? <a href="http://www.ehow.com/how_2042081_play-double-deck-pinochle.html">Heres How!</a></a> </p>
        </div>
    </div>
</div>

    

 
  
    <!-- main slider carousel -->
    <div class="row">
      <div class="container col-md-offset-1 col-md-10" id="slider">
          <div class="#" id="carousel-bounding-box">
              <div id="myCarousel" class="carousel slide">
                  <!-- main slider carousel items -->
                <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                      <img src="https://s3.amazonaws.com/rocketfueltech/bidding.jpg" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="1">
                      <img src="https://s3.amazonaws.com/rocketfueltech/melding.jpg" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="2">
                      <img src="https://s3.amazonaws.com/rocketfueltech/playing.jpg" class="img-responsive">
                    </div>
                    <div class="item" data-slide-number="3">
                      <img src="https://s3.amazonaws.com/rocketfueltech/trump_selection.jpg" class="img-responsive">
                    </div>
                </div>
                <!-- main slider carousel nav controls --> <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
          </div>
      </div>
    </div>
    <!--/main slider carousel-->

