<div class="row">
    <div class="container text-center">
        <img src="https://s3.amazonaws.com/rocketfueltech/doublepin.gif">
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="container well col-md-6 col-md-offset-3">
            <p>Double Pinochle is a single player game with the best Artificial Intelligence (AI) in the market. Players can make meld bids and their automated partners will understand what they are. Players can place an Ace on their partner’s Ace, and the AI will know what to do. This is the Pinochle game you’ve been looking for! Don’t know how to play? <a href="http://www.ehow.com/how_2042081_play-double-deck-pinochle.html">Heres How!</a></a> </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="container col-md-2">
             <a href="https://s3.amazonaws.com/rocketfueltech/bidding.jpg"><img src="https://s3.amazonaws.com/rocketfueltech/bidding.jpg" title="Bidding" width="300" height="200" /></a> 
        </div>
        <div class="container col-md-2 col-md-offset-2">
            <a href="https://s3.amazonaws.com/rocketfueltech/trump_selection.jpg"><img src="https://s3.amazonaws.com/rocketfueltech/trump_selection.jpg" title="Trump Selection" width="300" height="200" /></a>
        </div>
        <div class="container col-md-2 col-md-offset-2">
            <a href="https://s3.amazonaws.com/rocketfueltech/melding.jpg"><img src="https://s3.amazonaws.com/rocketfueltech/melding.jpg" title="Melding" width="300" height="200" /></a>
        </div>
        
    </div>
</div>
<br/>
<div class="row">
    <div class="container">
        <div class="container col-md-2 col-md-offset-4">
             <a href="https://s3.amazonaws.com/rocketfueltech/playing.jpg"><img src="https://s3.amazonaws.com/rocketfueltech/playing.jpg" title="Playing" width="300" height="200" /></a> 
        </div>
     
       
    </div>
</div>