<div class="row">
    <div class="container text-center">
        <img src="https://s3.amazonaws.com/rocketfueltech/doublepin.gif">
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="container col-md-3" id="bidding">
            <p>Double Pinochle is a single player game with the best Artificial Intelligence (AI) in the market. Players can make meld bids and their automated partners will understand what they are. Players can place an Ace on their partner’s Ace, and the AI will know what to do. This is the Pinochle game you’ve been looking for! Don’t know how to play? <a href="http://www.ehow.com/how_2042081_play-double-deck-pinochle.html">Heres How!</a></a> </p>
        </div>
    </div>
</div>