  @import "bootstrap-sprockets";
  @import "bootstrap";


body.home {
  background: url(https://s3.amazonaws.com/rocketfueltech/rocketfuel.jpg) no-repeat center center fixed;
  background-color: black;
}

body {
  background-color: black;
}

.rft {
  color: white;
  font-size: 55px;
  font-family: 'Press Start 2P', cursive;
}










